.main__game_container {
  top: 40%;
  left: 50%;
  width: 16em;
  height: 10em;
  margin-left: -8em;
  position: fixed;
  text-align: center; }

.main__game-name {
  color: white;
  margin-bottom: 20px; }

.scoreboard {
  top: 40%;
  left: 50%;
  width: 16em;
  margin-left: -8em;
  position: fixed;
  text-align: center; }

.game__menu-element {
  color: white;
  background-color: #4a4a4a;
  margin: 1em;
  font-size: 1.3em;
  padding: 10px 0;
  position: relative;
  width: 50px;
  margin: 10px, 10px, 10px, 10px;
  color: black;
  font-color: black;
  text-align: center; }

.game__screen {
  position: absolute;
  background-color: black;
  left: 50%;
  top: 50%; }

.game__scene {
  position: absolute;
  width: 100%;
  height: 100%; }

.game__mobile-overlay {
  text-align: center;
  position: absolute;
  z-index: 9999;
  color: white;
  font-size: 30px; }

.gameover__form {
  position: relative;
  text-align: center;
  color: blue;
  font-size: 24pt;
  font-style: italic; }

html {
  background: url(../imgs/starsky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  background: none; }

