ul {
	list-style-type: none;
	padding: 0em;
	margin: 0em;	
}
* {
	font-family: "Georgia", serif; 
}
h3 {
	padding: 0.6em;
}

.main__menu-element, .game__menu-element, .scoreboard__menu-item {
	color: white;
	background-color: #4a4a4a;
	margin:1.0em;
	font-size: 1.3em;
	padding: 10px 0;
}

.game__menu-element, .scoreboard__menu-item {
	width: 100px;
	text-align: center;
}

.game__menu-element:before, .scoreboard__menu-item:before {
	content: "";
	position: absolute;
	border-top: 11px solid transparent;
    border-right: 11px solid white;
    border-bottom: 11px solid transparent;
    left: 30px;

}

a:link {color:#FFFFFF; text-decoration:none;}    /* unvisited link */
a:visited {color:#FFFFFF; text-decoration:none;} /* visited link */
a:hover {color:#FF00FF; text-decoration:none;}   /* mouse over link */
a:active {color:#0000FF; text-decoration:none;}  /* selected link */

.main, .game, .scoreboard {
    top: 50%;	
    left: 50%;
    width:16em;
    height:22em;
    margin-top: -11em; /*set to a negative number 1/2 of your height*/
    margin-left: -8em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    position:fixed;
    text-align: center;
}
.main__game-name, .game__game-name, .scoreboard__game-name{
	background-color: #4a4a4a;
	color: white;
	margin: 1em;
}

.main__panel-name, .game__panel-name, .scoreboard__panel-name {
	color:#4a4a4a;
	margin: 1em;
	font-size: 1.4em;
}

.scoreboard__table{
	width: 100%;
	margin: 0 auto;
}